<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sharit.test.dao.UserMapper">

    <cache />

    <insert id="insert" parameterType="cn.sharit.test.bean.User">
        insert into user(id, name, sex)
        values (#{id}, #{name}, #{sex});
    </insert>

    <select id="selectOne" parameterType="int" resultType="cn.sharit.test.bean.User">
        select *
        from user
        where id = ${id}
    </select>

    <select id="selectAll" resultType="cn.sharit.test.bean.User">
        select *
        from user
    </select>
</mapper>